$primary-color: #fff;
$secondary-color: #ccc;

.container {
  flex: 1;
  padding: 16px;
  background-color: $primary-color;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.ratingList {
  margin-top: 16px;
}

.ratingItem {
  margin-bottom: 16px;
  border-bottom-width: 1px;
  border-bottom-color: $secondary-color;
  padding-bottom: 8px;
}

.rating {
  font-size: 18px;
  margin-bottom: 8px;
}

.review {
  font-size: 16px;
}
